# Labtainer start configuration for bpcs_extract.
# One-container lab. Students perform each command manually.

GLOBAL_SETTINGS
GRADE_CONTAINER bpcs_extract
HOST_HOME_XFER labtainer_xfer
LAB_MASTER_SEED bpcs_extract_seed
COLLECT_DOCS yes
CHECKWORK yes

CONTAINER bpcs_extract
USER ubuntu
TERMINALS 1
X11 NO
